@{
    ViewBag.Title = "About OddsFinder";
}

<div style="margin-top: 40px;height: 700px">
<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        OddsFinder is a free assisted match-betting service, 
        saving you hours in manually scanning bookmakers for the best odds.        
    </p>
    <br/>
    <p>
        To learn more about matched betting, read the introductory guide<a target="_blank" href="http://forums.moneysavingexpert.com/showthread.php?t=325861">here.</a>
    </p>
</article>
    </div>