
<div style="margin-top: 40px;height: 700px">
<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>+447807515940</span>
    </p>
</section>

    <section class="contact">
        <header>
            <h3>Email</h3>
        </header>
        <p>
            <span class="label">Support:</span>
            <span><a href="mailto:elliot.brooker@live.co.uk">elliot.brooker@live.co.uk</a></span>
        </p>
    </section>

</div>